<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

  <body>
    <h1>Inventory Index Page</h1>
    <ul>
      <% for(let i = 0; i < items.length; i++ ) { %>
        <li>
          <a href="/inventory/<%=items[i].id%>"> <%= items[i].item %></a>
          <p> Category: <%= items[i].category %> </p>
          <p> Quantity in Stock: <%= items[i].in_stock_qty %> </p>
          <p> Cost to Purchase: <%= items[i].price %> </p>

          <p><a href="/inventory/<%=items[i].id%>/edit">Edit</a></p>

          <form method="POST" action="/inventory/<%= items[i].id %>?_method=DELETE">
            <button>Delete</button>
          </form>
        </li>
      <% } %>
    </ul>

    <a href="inventory/new">Create a New Item</a>
  </body>
</html>
