<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

  <body>
    <h1>Item Show Page</h1>

    <h2>This is the show page for <%= items.item %></h2>

   <p>Name: <%= items.item %> </p>
   <p>Category <%= items.category %> </p>
   <p>Unit Size <%= items.unit_size %> </p>
   <p>In Stock Qty <%= items.in_stock_qty %> </p>
   <p>Unit Price <%= items.price %> </p>
   



<form method="POST" action="/orders/<%= items.id %>">
   <label for="quantity">Qty to Purchase:</label>
   <input type="number" name="order_qty">
   
   <input type="hidden" name="item" value="<%=items.item%>"/>
   
   <input type="hidden" name="price" value="<%=items.price%>"/>

   <input type="Date" name="date" value="<%=new Date().toISOString().substring(0, 10)%>"/>
  
   <input type="hidden" name="orderPlacedBy" value="<%=currentUser.username%>"/>
   <button>BUY</button>
</form>



    <a href="/inventory">Back to Inventory Index</a>
    
  </body>
</html>
